
Group_4_Code_Multidisciplinary_Project/venv/

Group_4_Code_Multidisciplinary_Project/Demo/server_address.txt

.vscode/

Group_4_Code_Multidisciplinary_Project/Demo_CE/server_address.txt

Group_4_Code_Multidisciplinary_Project/Demo_CE/data/
